.post-grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(7, 1fr);
  }
}

.active-post-id {
  margin: 10px 0;
}
