$inactiveHoverBGColor: #e0f4f4;
$activeFontColor: #f6f6f6;
$activeBGColor: #32a6a8;

.post-card-container {
  display: flex;
  justify-content: center;
  color: #2c3e50;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow-y: auto;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  cursor: pointer;
  user-select: none;

  &:hover:not(.active) {
    background-color: $inactiveHoverBGColor;
  }
}

.active {
  color: $activeFontColor;
  background-color: $activeBGColor;
}
