.post-grid-page {
  padding: 20px;

  .post-grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 20px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(7, 1fr);
    }
  }

  .active-post-id {
    display: flex;
    justify-content: center;
    color: #1a8788;
    font-size: 26px;
    font-weight: bold;
    padding: 0px 16px;
    margin-bottom: 20px;
  }
}
