<ng-container
  *ngIf="vm$ | async as vm"
>
  <div class="post-grid-page">
    @if (vm.isPostCardsLoading) {
      <div class="progress-bar">Loading...</div>
    }

    @if (vm.error) {
      <div class="error">{{ vm.error }}</div>
    }

    @if (!vm.error) {
      @if (vm.activePostCardId) {
        <div class="active-post-id">
          Active post id: {{ vm.activePostCardId }}
        </div>
      }

      @if (vm.postCards) {
        <div class="post-grid-container">
          @for (
            postCard of vm.postCards;
            track postCard.id
          ) {
            <app-post-card
              [post]="postCard"
              [activePostCardId]="vm.activePostCardId"
            ></app-post-card>
          }
        </div>
      }
    }
  </div>
</ng-container>
