<div class="post-grid-page">
  @if (isLoading$ | async) {
    <div class="progress-bar">Loading...</div>
  }

  @if (activePostCardId$ | async; as activePostCardId) {
    <div class="active-post-id">Active post id: {{ activePostCardId }}</div>
  }

  @if (postCards$ | async; as postCards) {
    <div class="post-grid-container">
      @for (postCard of postCards; track postCard.id) {
        <app-post-card
          [post]="postCard"
          [activePostCardId]="activePostCardId$ | async"
          (setActivePost)="setActivePost($event)"
        />
      }
    </div>
  }
</div>
