<ng-container
  *ngIf="{
    isLoading: isLoading$ | async,
    activePostCardId: activePostCardId$ | async,
    postCards: postCards$ | async
  } as data"
>
  <div class="post-grid-page">
    @if (data.isLoading) {
      <div class="progress-bar">Loading...</div>
    }

    @if (data.activePostCardId) {
      <div class="active-post-id">
        Active post id: {{ data.activePostCardId }}
      </div>
    }

    @if (data.postCards) {
      <div class="post-grid-container">
        @for (postCard of data.postCards; track postCard.id) {
          <app-post-card
            [post]="postCard"
            [activePostCardId]="data.activePostCardId"
          />
        }
      </div>
    }
  </div>
</ng-container>
