/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
  background-color: beige;
}
body {
  padding: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
